.uk-modal-container .uk-modal-dialog.l {
    width: 1200px
}
.uk-modal-container .uk-modal-dialog.m {
    width: 900px
}
.uk-modal-container .uk-modal-dialog.s {
    width: 500px
}
.required_uk::after{
    content: '*';
    font-weight: bold;
    color: #e32;
    /*font-size: 1.2em;*/
}
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255,255,255,0.4);
    z-index: 99;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    display: none;
    pointer-events: none;
    cursor: no-drop;
}

    .modalDialog:target {
        display: block;
        pointer-events: all;
    }

    .modalDialog:target {
        display: block;
        pointer-events: all;
    }

    .modalDialog > span > svg > circle {
        stroke-width: 0.3px !important;
        color: #104ba9;
    }
	
	.uk-notification-message-success {
    background-color: #32d296;
	color: black;
}
.uk-notification-message-danger {
    background-color: #f0506e;
	color: black;
}
.uk-notification-message-warning {
    background-color: #faa05a;
	color: black;
}

.js-example-basic-single, .select2-container--default .select2-selection--single, .select2-selection--multiple {
    max-width: 100% !important;
    border: 1px solid #e5e5e5 !important;
    background: #fff !important;
    color: #666 !important;
    min-height: 40px !important;
    border-radius: 0 !important;
}
.select2-search--dropdown, .select2-search--dropdown .select2-search__field {
    width: 100% !important;
    max-width:100%;
}
.select2-selection--multiple, .select2-container--default .select2-selection--single .select2-selection__rendered, .select2-selection__rendered, select2-selection__arrow, .select2-container--default .select2-selection--single .select2-selection__arrow {
    /*height: 40px !important;*/
    padding-top:7px;
}
    .select2-selection--multiple, .select2-selection--multiple .select2-selection__rendered {
        /*min-height: 110px !important;*/
        /*overflow: scroll*/
    }
        .select2-selection--multiple .select2-selection__rendered {
            /*min-height: 100px !important;*/
            
        }
		
select.uk-width-1-1 + .select2, select.uk-width-1-1 + .select2-container, select.uk-width-1-1 + .select2-container--default, select.uk-width-1-1 + .select2-container--focus {
    width: 100% !important;
}
.select2-results__group {
    font-weight: 600;
}
.select2-container--disabled span span, tr.uk-disable .select2 span span {
    color: lightgrey !important;
    cursor: not-allowed;
}
.select2-results__options {
    overflow-y: scroll;
}
.select2-container .select2-selection--multiple .select2-selection__rendered {
    white-space: unset;
}
.uk-form-label{
    min-height: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-top: 2px;
}
.uk-disabled .select2-hidden-accessible + span span {
    color: var(--primary_color7) !important;
}

.uk-disabled .select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: transparent;
    border-color: var(--primary_color7);
}

#tbodyAddress .uk-badge {
    background-color: rgba(24,24,24, 0.1);
    color: #666!important;
	font-size: 14px;
	margin-left: 3px;
	
}
#tbodyAddress .uk-badge:hover {
	background-color: rgba(24,24,24, 0.2);
	cursor: pointer;
}
#tbodyStreet tr td:first-child:hover{
cursor: pointer;}

#mapStreet #map {
    height: 100vh !important;
}

#mapAddress #map {
    height: 100vh !important;
}
/*popup*/
.ol-popup {
position: absolute;
background-color: white;
-webkit-filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
filter: drop-shadow(0 1px 4px rgba(0,0,0,0.2));
padding: 15px;
border-radius: 10px;
border: 1px solid #cccccc;
bottom: 12px;
left: -50px;
min-width: 280px;
}
.ol-popup:after, .ol-popup:before {
top: 100%;
border: solid transparent;
content: " ";
height: 0;
width: 0;
position: absolute;
pointer-events: none;
}
.ol-popup:after {
border-top-color: white;
border-width: 10px;
left: 48px;
margin-left: -10px;
}
.ol-popup:before {
border-top-color: #cccccc;
border-width: 11px;
left: 48px;
margin-left: -11px;
}
.ol-popup-closer {
text-decoration: none;
position: absolute;
top: 2px;
right: 8px;
}
.ol-popup-closer:after {
content: "✖";
}

.line-through{
	text-decoration: line-through;

}
.uk-drop.uk-drop-small {
    width: 50px;
}

.select2-search.select2-search--dropdown{
	padding: 0;
}


.uk-width-small\@m {
    width: 170px !important;
}
input::-webkit-inner-spin-button {
            align-self: center;
}
.tabulator-header-filter input{
	height: 40px;
}

.tabulator .tabulator-header .tabulator-col .tabulator-col-content{
	padding-right: 5px !important;
	padding-left: 5px !important
}
.tabulator .tabulator-header .tabulator-col .tabulator-col-content .tabulator-col-sorter {
right: 5px !important}
.tabulator-row.tabulator-selected {
    background-color: #ee6e73;
}

*,*:focus,*:hover{
    outline:none;
}
.tabulator-row.tabulator-selected {
    background-color: #d6d6d6 !important;
}