/* -- Top navigation -- */
#top-head {
	z-index: 9;
	top: 0;
	left:0;
	right:0;
}
.topbar {
	border-bottom: 1px solid #ebebed;
	box-shadow: 0 2px 8px rgba(0,0,0,.04);
}
/* Smaller Header */
.uk-navbar-container {

}
.uk-navbar-nav > li > a,
.uk-navbar-item,
.uk-navbar-toggle {
	/* navbar height */
  /*min-height: 52px;*/
  min-height: 64px;
  padding: 0 8px;
  font-size: 0.85rem;
}
.navbar-logo {
	background-color: #222A30;
	margin-left: -12px;
}
/* Left bar */
#left-col {
  position: fixed;
  left: 0;
  top:0;
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
  /*background-color: #222A30;*/
  background-color: #2a52bb;
  width: 240px;
  z-index:2;
  transition: height 0.3s ease-out;
}
/* Left bar links */
#left-col ul.uk-nav-default > li > a {
	padding: 8px 20px;
	border-left: 2px solid transparent;
	transition: all 0.15s ease-out;
}
#left-col ul.uk-nav-default li.uk-nav-header {
	padding:  20px 20px 8px 20px;
}

#left-col ul.uk-nav-default > li > a:hover, #left-col ul.uk-nav-default > li.uk-open > a {
	border-left: 2px solid #39f;
	padding-left: 30px;
	color: white;
	background-color: rgba(0,0,0,0.1);
}
#left-col ul.uk-nav-default li .uk-nav-sub {
	padding-left: 34px;
}
#left-col .uk-dropdown.user-drop {
	min-width: 160px;
	max-width: 160px;
	padding: 0.75rem;
}
/* Drop arrow */
#left-col .uk-dropdown.user-drop:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #fff;
	border-width: 4px;
	margin-left: -4px;
}
.left-content-box {
	padding: 0.75rem 20px;
	border-top: 1px solid rgba(255,255,255,0.06);
	margin-bottom: -1px;
}
.left-nav-wrap {
	padding-bottom: 60px;
}
.content-box-dark {
	background-color: rgba(0,0,0,0.09);
}
.text-light {
	font-weight: 200;
	font-size: 1.25rem;
}
.bar-bottom {
	border-top: 1px solid rgba(255,255,255,0.07);
	padding: 15px 0;
   /*background-color: #222A30;*/
   background-color: #264baa;
   position: fixed;
   left: 0;
   right: 0;
   z-index: 3;
   bottom: 0;
   width: 240px;
}
.left-logo {
	/* navbar height */
	height: 64px;
	/*height: 52px;*/
	line-height: 64px;
	/*line-height: 52px;*/
	padding: 0 20px;
}
.custom-logo {
	height: 32px;
}
.profile-img {
	width: 60px;
	margin: 0 auto 10px auto;
	display: block;
}
.panel-icons {
	margin: 0 4px;
}
.uk-tooltip {
	background-color: white;
	color: #242C33;
	box-shadow: 0 2px 12px rgba(50,50,50,0.1);
}
#content {
	/*margin-top: 52px;*/
	margin-top: 64px;
	padding: 30px 0 0 0;
	background-color: #f7f7f7;
	margin-left: 0;
	transition: margin 0.2s cubic-bezier(.4,0,.2,1);
}
@media screen and (min-width: 960px){
	#content {
		/* equal to left-col width */
		margin-left: 240px;
	}
	#top-head {
		/* equal to left-col width */
		left:240px;
	}
}

#top-head [class*="uk-navbar-dropdown-bottom"] {
	margin-top: 0;
}

/* Search nav */
.search-field {
	width: 140px;
	-webkit-transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
	transition: all 0.25s cubic-bezier(0.175, 0.885, 0.320, 1.275);
}
.search-field:focus {
	width: 200px;
	border-color: #fff !important;
}
.uk-card {
	box-shadow: none;
}
.uk-heading-primary {
  letter-spacing: -0.032em;
  font-weight: 300;
}
/* Smooth shadow transition */
.uk-card {
	-webkit-transition: box-shadow 0.55s cubic-bezier(.4,0,.2,1);
	transition: box-shadow 0.55s cubic-bezier(.4,0,.2,1);
}
/* Progress */
.uk-progress {
	height: 3px;
	margin-bottom: 0.5rem;
	background-color: rgba(0,0,0,0.23);

}
* + .uk-progress {
    margin-top: 0.25rem;
}
.uk-progress.warning::-webkit-progress-value {
  background-color: #faa05a;
}
.uk-progress.warning::-moz-progress-bar {
  background-color: #faa05a;
}
.uk-progress.warning::-ms-fill {
  background-color: #faa05a;
}
.uk-progress.success::-webkit-progress-value {
  background-color: #32d296;
}
.uk-progress.success::-moz-progress-bar {
  background-color: #32d296;
}
.uk-progress.success::-ms-fill {
  background-color: #32d296;
}
/* Charts */
.chart-container {
	position: relative;
	height: 300px;
	margin: 0 auto;
}


.aside {

 position:fixed;
 top:0;
 bottom:0;
 padding-top:64px;
 
}

.aside-second {
	margin-top: 64px;
	margin-left: 240px;
}


/*
* offcanvas background-white
*/
.uk-offcanvas-bar-light {
  /* 1 */
  position: absolute;
  top: 0;
  bottom: 0;
  left: -270px;
  /* 2 */
  box-sizing: border-box;
  width: 270px;
  padding: 20px 20px;
  background: #f8f8f8;
  /* 3 */
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-offcanvas-bar-light {
    left: -350px;
    width: 350px;
    padding: 40px 40px;
}
}
/* Flip modifier */
.uk-offcanvas-flip .uk-offcanvas-bar-light {
  left: auto;
  right: -270px;
}
/* Tablet landscape and bigger */
@media (min-width: 960px) {
  .uk-offcanvas-flip .uk-offcanvas-bar-light {
    right: -350px;
}
}
/*
* Open
*/
.uk-open > .uk-offcanvas-bar-light {
  left: 0;
}
.uk-offcanvas-flip .uk-open > .uk-offcanvas-bar-light {
  left: auto;
  right: 0;
}
.uk-offcanvas-reveal .uk-offcanvas-bar-light {
  /* 4 */
  left: 0;
}
.uk-offcanvas-flip .uk-offcanvas-reveal .uk-offcanvas-bar-light {
  /* 4 */
  left: auto;
  right: 0;
}
.uk-offcanvas-bar-light {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light a:not(.uk-button),
.uk-offcanvas-bar-light .uk-link {
  color: #333;
}
.uk-offcanvas-bar-light a:not(.uk-button):hover,
.uk-offcanvas-bar-light .uk-link:hover {
  color: #333;
}
.uk-offcanvas-bar-light :not(pre) > code,
.uk-offcanvas-bar-light :not(pre) > kbd,
.uk-offcanvas-bar-light :not(pre) > samp {
  color: rgba(3,3,3, 0.7);
  background: rgba(24,24,24, 0.1);
}
.uk-offcanvas-bar-light em {
  color: #333;
}
.uk-offcanvas-bar-light h1,
.uk-offcanvas-bar-light .uk-h1,
.uk-offcanvas-bar-light h2,
.uk-offcanvas-bar-light .uk-h2,
.uk-offcanvas-bar-light h3,
.uk-offcanvas-bar-light .uk-h3,
.uk-offcanvas-bar-light h4,
.uk-offcanvas-bar-light .uk-h4,
.uk-offcanvas-bar-light h5,
.uk-offcanvas-bar-light .uk-h5,
.uk-offcanvas-bar-light h6,
.uk-offcanvas-bar-light .uk-h6,
.uk-offcanvas-bar-light .uk-heading-small,
.uk-offcanvas-bar-light .uk-heading-medium,
.uk-offcanvas-bar-light .uk-heading-large,
.uk-offcanvas-bar-light .uk-heading-xlarge,
.uk-offcanvas-bar-light .uk-heading-2xlarge {
  color: #333;
}
.uk-offcanvas-bar-light blockquote {
  color: #333;
}
.uk-offcanvas-bar-light blockquote footer {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light hr,
.uk-offcanvas-bar-light .uk-hr {
  border-top-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-link-muted,
.uk-offcanvas-bar-light .uk-link-muted a {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-link-muted:hover,
.uk-offcanvas-bar-light .uk-link-muted a:hover {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-link-text:hover,
.uk-offcanvas-bar-light .uk-link-text a:hover {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-link-heading:hover,
.uk-offcanvas-bar-light .uk-link-heading a:hover {
  color: #333;
}
.uk-offcanvas-bar-light .uk-heading-divider {
  border-bottom-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-heading-bullet::before {
  border-left-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-heading-line > ::before,
.uk-offcanvas-bar-light .uk-heading-line > ::after {
  border-bottom-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-divider-icon {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20viewBox%3D%220%200%2020%2020%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22none%22%20stroke%3D%22rgba%2824,%2024,%2024,%200.2%29%22%20stroke-width%3D%222%22%20cx%3D%2210%22%20cy%3D%2210%22%20r%3D%227%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.uk-offcanvas-bar-light .uk-divider-icon::before,
.uk-offcanvas-bar-light .uk-divider-icon::after {
  border-bottom-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-divider-small::after {
  border-top-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-divider-vertical {
  border-left-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-list-muted > ::before {
  color: rgba(24,24,24, 0.5) !important;
}
.uk-offcanvas-bar-light .uk-list-emphasis > ::before {
  color: #333 !important;
}
.uk-offcanvas-bar-light .uk-list-primary > ::before {
  color: #333 !important;
}
.uk-offcanvas-bar-light .uk-list-secondary > ::before {
  color: #333 !important;
}
.uk-offcanvas-bar-light .uk-list-bullet > ::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%226%22%20height%3D%226%22%20viewBox%3D%220%200%206%206%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20cx%3D%223%22%20cy%3D%223%22%20r%3D%223%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.uk-offcanvas-bar-light .uk-list-divider > :nth-child(n+2) {
  border-top-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-list-striped > *:nth-of-type(odd) {
  border-top-color: rgba(24,24,24, 0.2);
  border-bottom-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-list-striped > :nth-of-type(odd) {
  background-color: rgba(24,24,24, 0.1);
}
.uk-offcanvas-bar-light .uk-table th {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-table caption {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-table > tr.uk-active,
.uk-offcanvas-bar-light .uk-table tbody tr.uk-active {
  background: rgba(24,24,24, 0.08);
}
.uk-offcanvas-bar-light .uk-table-divider > tr:not(:first-child),
.uk-offcanvas-bar-light .uk-table-divider > :not(:first-child) > tr,
.uk-offcanvas-bar-light .uk-table-divider > :first-child > tr:not(:first-child) {
  border-top-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-table-striped > tr:nth-of-type(odd),
.uk-offcanvas-bar-light .uk-table-striped tbody tr:nth-of-type(odd) {
  background: rgba(24,24,24, 0.1);
  border-top-color: rgba(24,24,24, 0.2);
  border-bottom-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-table-hover > tr:hover,
.uk-offcanvas-bar-light .uk-table-hover tbody tr:hover {
  background: rgba(24,24,24, 0.08);
}
.uk-offcanvas-bar-light .uk-icon-link {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-icon-link:hover,
.uk-offcanvas-bar-light .uk-icon-link:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-icon-link:active,
.uk-offcanvas-bar-light .uk-active > .uk-icon-link {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-icon-button {
  background-color: rgba(24,24,24, 0.1);
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-icon-button:hover,
.uk-offcanvas-bar-light .uk-icon-button:focus {
  background-color: rgba(242, 242, 242, 0.1);
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-icon-button:active {
  background-color: rgba(230, 230, 230, 0.1);
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-input,
.uk-offcanvas-bar-light .uk-select,
.uk-offcanvas-bar-light .uk-textarea {
  background-color: rgba(24,24,24, 0.1);
  color: rgba(3,3,3, 0.7);
  background-clip: padding-box;
  border-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-input:focus,
.uk-offcanvas-bar-light .uk-select:focus,
.uk-offcanvas-bar-light .uk-textarea:focus {
  background-color: rgba(24,24,24, 0.1);
  color: rgba(3,3,3, 0.7);
  border-color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-input::-ms-input-placeholder {
  color: rgba(24,24,24, 0.5) !important;
}
.uk-offcanvas-bar-light .uk-input::placeholder {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-textarea::-ms-input-placeholder {
  color: rgba(24,24,24, 0.5) !important;
}
.uk-offcanvas-bar-light .uk-textarea::placeholder {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-select:not([multiple]):not([size]) {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20points%3D%2212%201%209%206%2015%206%22%20%2F%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20points%3D%2212%2013%209%208%2015%208%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.uk-offcanvas-bar-light .uk-input[list]:hover,
.uk-offcanvas-bar-light .uk-input[list]:focus {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2224%22%20height%3D%2216%22%20viewBox%3D%220%200%2024%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22rgba%28255,%20255,%20255,%200.7%29%22%20points%3D%2212%2012%208%206%2016%206%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.uk-offcanvas-bar-light .uk-radio,
.uk-offcanvas-bar-light .uk-checkbox {
  background-color: rgba(242, 242, 242, 0.1);
  border-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-radio:focus,
.uk-offcanvas-bar-light .uk-checkbox:focus {
  border-color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-radio:checked,
.uk-offcanvas-bar-light .uk-checkbox:checked,
.uk-offcanvas-bar-light .uk-checkbox:indeterminate {
  background-color: #333;
  border-color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-radio:checked:focus,
.uk-offcanvas-bar-light .uk-checkbox:checked:focus,
.uk-offcanvas-bar-light .uk-checkbox:indeterminate:focus {
  background-color: #e6e6e6;
}
.uk-offcanvas-bar-light .uk-radio:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Ccircle%20fill%3D%22%23666%22%20cx%3D%228%22%20cy%3D%228%22%20r%3D%222%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.uk-offcanvas-bar-light .uk-checkbox:checked {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2211%22%20viewBox%3D%220%200%2014%2011%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolygon%20fill%3D%22%23666%22%20points%3D%2212%201%205%207.5%202%205%201%205.5%205%2010%2013%201.5%22%20%2F%3E%0A%3C%2Fsvg%3E%0A");
}
.uk-offcanvas-bar-light .uk-checkbox:indeterminate {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2216%22%20height%3D%2216%22%20viewBox%3D%220%200%2016%2016%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22%23666%22%20x%3D%223%22%20y%3D%228%22%20width%3D%2210%22%20height%3D%221%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.uk-offcanvas-bar-light .uk-form-label {
  color: #333;
}
.uk-offcanvas-bar-light .uk-form-icon {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-form-icon:hover {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-button-default {
  background-color: transparent;
  color: #333;
  border: 1px solid #e5e5e5;
}
.uk-offcanvas-bar-light .uk-button-default:hover,
.uk-offcanvas-bar-light .uk-button-default:focus {
  background-color: transparent;
  color: #333;
  border-color: #b2b2b2;
}
.uk-offcanvas-bar-light .uk-button-default:active,
.uk-offcanvas-bar-light .uk-button-default.uk-active {
  background-color: transparent;
  color: #333;
  border-color: #999999;
}
.uk-offcanvas-bar-light .uk-button-default-outline {
  background-color: transparent;
  color: #333;
  border: 1px solid #e5e5e5;
}
.uk-offcanvas-bar-light .uk-button-default-outline:hover,
.uk-offcanvas-bar-light .uk-button-default-outline:focus {
  background-color: #333;
  color: #fff;
  border: transparent;
}
.uk-offcanvas-bar-light .uk-button-default-outline:active,
.uk-offcanvas-bar-light .uk-button-default-outline.uk-active {
  background-color: #333;
  color: #999999;
  background-color: transparent;
}
.uk-offcanvas-bar-light .uk-button-primary {
  background-color: #1e87f0;
  color: #fff;
  border: 1px solid transparent;
}
.uk-offcanvas-bar-light .uk-button-primary:hover,
.uk-offcanvas-bar-light .uk-button-primary:focus {
  background-color: #0f7ae5;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-primary:active,
.uk-offcanvas-bar-light .uk-button-primary.uk-active {
  background-color: #0e6dcd;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-primary-outline {
  background-color: #fff;
  color: #1e87f0;
  border: 1px solid #1e87f0;
}
.uk-offcanvas-bar-light .uk-button-primary-outline:hover,
.uk-offcanvas-bar-light .uk-button-primary-outline:focus {
  background-color: #0f7ae5;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-primary-outline:active,
.uk-offcanvas-bar-light .uk-button-primary-outline.uk-active {
  background-color: #0e6dcd;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-secondary {
  background-color: #222;
  color: #fff;
  border: 1px solid transparent;
}
.uk-offcanvas-bar-light .uk-button-secondary:hover,
.uk-offcanvas-bar-light .uk-button-secondary:focus {
  background-color: #151515;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-secondary:active,
.uk-offcanvas-bar-light .uk-button-secondary.uk-active {
  background-color: #080808;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-secondary-outline {
  background-color: #fff;
  color: #222;
  border: 1px solid #222;
}
.uk-offcanvas-bar-light .uk-button-secondary-outline:hover,
.uk-offcanvas-bar-light .uk-button-secondary-outline:focus {
  background-color: #151515;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-secondary-outline:active,
.uk-offcanvas-bar-light .uk-button-secondary-outline.uk-active {
  background-color: #080808;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-danger-outline {
  background-color: #fff;
  color: #f0506e;
  border: 1px solid #f0506e;
}
.uk-offcanvas-bar-light .uk-button-danger-outline:hover,
.uk-offcanvas-bar-light .uk-button-danger-outline:focus {
  background-color: #ee395b;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-danger-outline:active,
.uk-offcanvas-bar-light .uk-button-danger-outline.uk-active {
  background-color: #ec2147;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-warning-outline {
  background-color: #fff;
  color: #faa05a;
  border: 1px solid #faa05a;
}
.uk-offcanvas-bar-light .uk-button-warning-outline:hover,
.uk-offcanvas-bar-light .uk-button-warning-outline:focus {
  background-color: #f88c3a;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-warning-outline:active,
.uk-offcanvas-bar-light .uk-button-warning-outline.uk-active {
  background-color: #ee6e0c;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-success-outline {
  background-color: #fff;
  color: #32d296;
  border: 1px solid #32d296;
}
.uk-offcanvas-bar-light .uk-button-success-outline:hover,
.uk-offcanvas-bar-light .uk-button-success-outline:focus {
  background-color: #1cc989;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-success-outline:active,
.uk-offcanvas-bar-light .uk-button-success-outline.uk-active {
  background-color: #07be7b;
  color: #fff;
}
.uk-offcanvas-bar-light .uk-button-text {
  color: #333;
}
.uk-offcanvas-bar-light .uk-button-text::before {
  border-bottom-color: #333;
}
.uk-offcanvas-bar-light .uk-button-text:hover,
.uk-offcanvas-bar-light .uk-button-text:focus {
  color: #333;
}
.uk-offcanvas-bar-light .uk-button-text:disabled {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-button-link {
  color: #1e87f0;
}
.uk-offcanvas-bar-light .uk-button-link:hover,
.uk-offcanvas-bar-light .uk-button-link:focus {
  color: #0f6ecd;
}
.uk-offcanvas-bar-light .uk-close {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-close:hover,
.uk-offcanvas-bar-light .uk-close:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-totop {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-totop:hover,
.uk-offcanvas-bar-light .uk-totop:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-totop:active {
  color: #333;
}
.uk-offcanvas-bar-light .uk-marker {
  background: #f8f8f8;
  color: #666;
}
.uk-offcanvas-bar-light .uk-marker:hover,
.uk-offcanvas-bar-light .uk-marker:focus {
  color: #666;
}
.uk-offcanvas-bar-light .uk-badge {
  background-color: #333;
  color: #666;
}
.uk-offcanvas-bar-light .uk-badge:hover,
.uk-offcanvas-bar-light .uk-badge:focus {
  color: #666;
}
.uk-offcanvas-bar-light .uk-label {
  background-color: #333;
  color: #666;
}
.uk-offcanvas-bar-light .uk-article-meta {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-search-input {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-search-input:-ms-input-placeholder {
  color: rgba(24,24,24, 0.5) !important;
}
.uk-offcanvas-bar-light .uk-search-input::placeholder {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-search .uk-search-icon {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-search .uk-search-icon:hover {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-search-default .uk-search-input {
  background-color: transparent;
  border-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-search-default .uk-search-input:focus {
  background-color: transparent;
}
.uk-offcanvas-bar-light .uk-search-navbar .uk-search-input {
  background-color: transparent;
}
.uk-offcanvas-bar-light .uk-search-large .uk-search-input {
  background-color: transparent;
}
.uk-offcanvas-bar-light .uk-search-toggle {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-search-toggle:hover,
.uk-offcanvas-bar-light .uk-search-toggle:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-accordion-title {
  color: #333;
}
.uk-offcanvas-bar-light .uk-accordion-title:hover,
.uk-offcanvas-bar-light .uk-accordion-title:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-grid-divider > :not(.uk-first-column)::before {
  border-left-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-grid-divider.uk-grid-stack > .uk-grid-margin::before {
  border-top-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-nav-parent-icon > .uk-parent > a::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22rgba%2824,%2024,%2024,%200.7%29%22%20stroke-width%3D%221.1%22%20points%3D%2210%201%204%207%2010%2013%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.uk-offcanvas-bar-light .uk-nav-parent-icon > .uk-parent.uk-open > a::after {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2214%22%20height%3D%2214%22%20viewBox%3D%220%200%2014%2014%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Cpolyline%20fill%3D%22none%22%20stroke%3D%22rgba%2824,%2024,%2024,%200.7%29%22%20stroke-width%3D%221.1%22%20points%3D%221%204%207%2010%2013%204%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.uk-offcanvas-bar-light .uk-nav-default > li > a {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-nav-default > li > a:hover,
.uk-offcanvas-bar-light .uk-nav-default > li > a:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-nav-default > li.uk-active > a {
  color: #333;
}
.uk-offcanvas-bar-light .uk-nav-default .uk-nav-header {
  color: #333;
}
.uk-offcanvas-bar-light .uk-nav-default .uk-nav-divider {
  border-top-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-nav-default .uk-nav-sub a {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-nav-default .uk-nav-sub a:hover,
.uk-offcanvas-bar-light .uk-nav-default .uk-nav-sub a:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-nav-default .uk-nav-sub li.uk-active > a {
  color: #333;
}
.uk-offcanvas-bar-light .uk-nav-primary > li > a {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-nav-primary > li > a:hover,
.uk-offcanvas-bar-light .uk-nav-primary > li > a:focus {
  color: #333;
}
.uk-offcanvas-bar-light .uk-nav-primary > li.uk-active > a {
  color: #333;
}
.uk-offcanvas-bar-light .uk-nav-primary .uk-nav-header {
  color: #333;
}
.uk-offcanvas-bar-light .uk-nav-primary .uk-nav-divider {
  border-top-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-nav-primary .uk-nav-sub a {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-nav-primary .uk-nav-sub a:hover,
.uk-offcanvas-bar-light .uk-nav-primary .uk-nav-sub a:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-nav-primary .uk-nav-sub li.uk-active > a {
  color: #333;
}
.uk-offcanvas-bar-light .uk-navbar-nav > li > a {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-navbar-nav > li:hover > a,
.uk-offcanvas-bar-light .uk-navbar-nav > li > a:focus,
.uk-offcanvas-bar-light .uk-navbar-nav > li > a.uk-open {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-navbar-nav > li > a:active {
  color: #333;
}
.uk-offcanvas-bar-light .uk-navbar-nav > li.uk-active > a {
  color: #333;
}
.uk-offcanvas-bar-light .uk-navbar-item {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-navbar-toggle {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-navbar-toggle:hover,
.uk-offcanvas-bar-light .uk-navbar-toggle:focus,
.uk-offcanvas-bar-light .uk-navbar-toggle.uk-open {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-subnav > * > :first-child {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-subnav > * > a:hover,
.uk-offcanvas-bar-light .uk-subnav > * > a:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-subnav > .uk-active > a {
  color: #333;
}
.uk-offcanvas-bar-light .uk-subnav-divider > :nth-child(n+2):not(.uk-first-column)::before {
  border-left-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-subnav-pill > * > :first-child {
  background-color: transparent;
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-subnav-pill > * > a:hover,
.uk-offcanvas-bar-light .uk-subnav-pill > * > a:focus {
  background-color: rgba(24,24,24, 0.1);
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-subnav-pill > * > a:active {
  background-color: rgba(24,24,24, 0.1);
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-subnav-pill > .uk-active > a {
  background-color: #333;
  color: #666;
}
.uk-offcanvas-bar-light .uk-subnav-pill > .uk-active-danger > a {
  background-color: #333;
  color: #666;
}
.uk-offcanvas-bar-light .uk-subnav-pill > .uk-active-success > a {
  background-color: #333;
  color: #666;
}
.uk-offcanvas-bar-light .uk-subnav-pill > .uk-active-warning > a {
  background-color: #333;
  color: #666;
}
.uk-offcanvas-bar-light .uk-subnav > .uk-disabled > a {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-breadcrumb > * > * {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-breadcrumb > * > :hover,
.uk-offcanvas-bar-light .uk-breadcrumb > * > :focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-breadcrumb > :last-child > * {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-pagination > * > * {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-pagination > * > :hover,
.uk-offcanvas-bar-light .uk-pagination > * > :focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-pagination > .uk-active > * {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-pagination > .uk-disabled > * {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-tab::before {
  border-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-tab > * > a {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-tab > * > a:hover,
.uk-offcanvas-bar-light .uk-tab > * > a:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-tab > .uk-active > a {
  color: #333;
  border-color: #333;
}
.uk-offcanvas-bar-light .uk-tab > .uk-active-danger > a {
  color: #333;
  border-color: #333;
}
.uk-offcanvas-bar-light .uk-tab > .uk-active-warning > a {
  color: #333;
  border-color: #333;
}
.uk-offcanvas-bar-light .uk-tab > .uk-active-success > a {
  color: #333;
  border-color: #333;
}
.uk-offcanvas-bar-light .uk-tab > .uk-disabled > a {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-slidenav {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-slidenav:hover,
.uk-offcanvas-bar-light .uk-slidenav:focus {
  color: rgba(24,24,24, 0.95);
}
.uk-offcanvas-bar-light .uk-slidenav:active {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-dotnav > * > * {
  background-color: transparent;
  border-color: rgba(24,24,24, 0.9);
}
.uk-offcanvas-bar-light .uk-dotnav > * > :hover,
.uk-offcanvas-bar-light .uk-dotnav > * > :focus {
  background-color: rgba(24,24,24, 0.9);
  border-color: transparent;
}
.uk-offcanvas-bar-light .uk-dotnav > * > :active {
  background-color: rgba(24,24,24, 0.5);
  border-color: transparent;
}
.uk-offcanvas-bar-light .uk-dotnav > .uk-active > * {
  background-color: rgba(24,24,24, 0.9);
  border-color: transparent;
}
.uk-offcanvas-bar-light .uk-iconnav > * > a {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-iconnav > * > a:hover,
.uk-offcanvas-bar-light .uk-iconnav > * > a:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-iconnav > .uk-active > a {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-text-lead {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-text-meta {
  color: rgba(24,24,24, 0.5);
}
.uk-offcanvas-bar-light .uk-text-muted {
  color: rgba(24,24,24, 0.5) !important;
}
.uk-offcanvas-bar-light .uk-text-emphasis {
  color: #333 !important;
}
.uk-offcanvas-bar-light .uk-text-primary {
  color: #333 !important;
}
.uk-offcanvas-bar-light .uk-text-secondary {
  color: #333 !important;
}
.uk-offcanvas-bar-light .uk-column-divider {
  column-rule-color: rgba(24,24,24, 0.2);
}
.uk-offcanvas-bar-light .uk-logo {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-logo:hover,
.uk-offcanvas-bar-light .uk-logo:focus {
  color: rgba(3,3,3, 0.7);
}
.uk-offcanvas-bar-light .uk-logo > :not(.uk-logo-inverse):not(:only-of-type) {
  display: none;
}
.uk-offcanvas-bar-light .uk-logo-inverse {
  display: inline;
}
.uk-offcanvas-bar-light .uk-accordion-title::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22rgba%2824,%2024,%2024,%200.7%29%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%20%20%20%20%3Crect%20fill%3D%22rgba%2824,%2024,%2024,%200.7%29%22%20width%3D%221%22%20height%3D%2213%22%20x%3D%226%22%20y%3D%220%22%20%2F%3E%0A%3C%2Fsvg%3E");
}
.uk-offcanvas-bar-light .uk-open > .uk-accordion-title::before {
  background-image: url("data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%2213%22%20height%3D%2213%22%20viewBox%3D%220%200%2013%2013%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%0A%20%20%20%20%3Crect%20fill%3D%22rgba%2824,%2024,%2024,%200.7%29%22%20width%3D%2213%22%20height%3D%221%22%20x%3D%220%22%20y%3D%226%22%20%2F%3E%0A%3C%2Fsvg%3E");
}