/* Background Image Media Queries */
.uk-overlay-secondary {
    background: rgba(38,75,170,.8);
}

div.login {
	background-image: url('../img/bg640.jpg');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (min-width: 640px){
	div.login {
		background-image: url('../img/bg960.jpg');
	}
}	
@media screen and (min-width: 960px){
	div.login {
		background-image: url('../img/bg1200.jpg');
	}
}	
@media screen and (min-width: 1200px){
	div.login {
		background-image: url('../img/bg1600.jpg');
	}
}	
@media screen and (min-width: 1600px){
	div.login {
		background-image: url('../img/bg2000.jpg');
	}
}